body > main > h1{
    font-family: sans-serif;
    margin-top: 30px;
    width: 100%;
    text-align: center;
    background: white;
}

/*create map*/
body > main > p{
    left: 0;
    right: 0;
    width: 100%;
    position: relative;
    height: 500px;
}

body > main > p > iframe{
    border: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
}

/*///////////////////////////////////////////////////////////*/