/*create events category area styles */
body > main > section:nth-child(1){
    width: 100%;
    height: 160px;
    margin-top: 15px;
    margin-bottom: 15px;
    position: relative;
}

body > main > section:nth-child(1) > aside{
    width: 85%;
    height: 100px;
    background: white;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
}

body > main > section:nth-child(1) > aside > div{
    flex: 1;
    text-align: center;
}

body > main > section:nth-child(1) > aside > div > a > div{
    border: 1px solid #c2c2c2;
    width: 70px;
    height: 70px;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 10px;
}

body > main > section:nth-child(1) > aside > div > a > div > i{
    font-size: 30px;
    text-align: center;
    padding: 20px;
    margin: auto;
    color: black;
}

body > main > section:nth-child(1) > aside > div > a > div:hover{
    background: #868686;
}

body > main > section:nth-child(1) > aside > div > a > div > i:hover{
    color: white;
}

body > main > section:nth-child(1) > aside > div > a{
    text-decoration: none;
}

body > main > section:nth-child(1) > aside > div > a > h4{
    color: #606060;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: bold;
}
/*End events category area styles */

/*/////////////////////////////////////////////////////////////////////*/

/*events area styles start*/
body > main > section:nth-child(2){
    width: 95%;
    height: 1420px;
    background: #f3f3f3;
    margin: 32px;
    display: flex;
    flex-direction: column;
}

body > main > section:nth-child(2) > h1{
    font-family: sans-serif;
    margin-top: 10px;
    width: 100%;
    text-align: center;
    background: white;
}

body > main > section:nth-child(2) > section{
    flex: 1;
    display: flex;
}

body > main > section:nth-child(2) > section > div{
    flex: 1;
    margin: 22px;
    background: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    position: relative;
}

body > main > section:nth-child(2) > section > div > img{
    width: 380px;
    margin-bottom: 15px;
}

body > main > section:nth-child(2) > section > div > i{
    margin-left: 20px;
    margin-right: 10px;
    color: #919191;
}

body > main > section:nth-child(2) > section > div > h5{
    width: fit-content;
    display: inline;
    font-size: 13px;
    font-family: sans-serif;
    font-weight: 500;
}

body > main > section:nth-child(2) > section > div > h3{
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 35px;
}

body > main > section:nth-child(2) > section > div > address{
    width: fit-content;
    display: inline;
}

body > main > section:nth-child(2) > section > div > a > div{
    width: 100%;
    height: 50px;
    background: #a7a7a7;
    bottom: 0;
    position: absolute;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

body > main > section:nth-child(2) > section > div > a > div:hover{
    background: #c9c9c9;
}

body > main > section:nth-child(2) > section > div > a > div > i{
    font-size: 28px;
    padding: 10px;
    color: black;
    position: absolute;
    right: 120px;
    transform: rotate(-20deg);
}

body > main > section:nth-child(2) > section > div > a > div > h4{
    width: fit-content;
    display: inline;
    font-family: sans-serif;
    color: white;
    margin: 0;
    bottom: 15px;
    position: absolute;
    right: 25px;
}

body > main > section:nth-child(2) > section:nth-child(4) > div:nth-child(2){
    background: #f3f3f3;
}

body > main > section:nth-child(2) > section:nth-child(4) > div:nth-child(3){
    background: #f3f3f3;
}
/*events area styles End*/