/*slider area styles start*/

body > main > section {
    width: 60%;
    height: 450px;
    background: black;
    overflow: hidden;
    left: 0;
    right: 0;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}

body > main > section > aside{
    width: 600%;
    height: 100%;
    background: gray;
    display: flex;
    animation: slider 15s infinite alternate;
}

body > main > section > aside > div{
    height: 100%;
    width: 100%;
}

body > main > section > aside > div:nth-child(1){
    background: url(../img/1.jpg);
    background-size: cover;
    background-position: center;
}

body > main > section > aside > div:nth-child(2){
    background: url(../img/2.jpg);
    background-size: cover;
    background-position: center;
}

body > main > section > aside > div:nth-child(3){
    background: url(../img/3.jpg);
    background-size: cover;
    background-position: center;
}

body > main > section > aside > div:nth-child(4){
    background: url(../img/4.jpg);
    background-size: cover;
    background-position: center;
}


@keyframes slider {
    0%, 20%{
        transform: translate(0%);
    }
    25%, 45%{
        transform: translate(-16.7%);
    }
    50%, 70%{
        transform: translate(-33.3%);
    }
    75%, 95%{
        transform: translate(-50%);
    }
}

/*End area styles start*/
/*//////////////////////////////////////////////////////////////////////////*/

